/* Set the size of 1em to 10px in all browsers */
/*
body {font-size:62.5%;}  
body.extraWide {font-size:85%;}
body.wide {font-size:75%;}
body.narrow {font-size:50%;}
body.extraNarrow {font-size:40%;}
*/  
body {
	margin: 0;
	padding: 0;
    color:#555;
    margin-top:5px;
    /*text-shadow:none;*/
    /*text-shadow:0 0 1px #f6f6f6;*/
    font-weight:normal !important;
    font-family:'Open Sans', sans-serif;

}
p, a, li {
    color:#555;
    line-height:1.6;
}

.loading4			{background:url("../images/loading4.gif") center center no-repeat!important;}
a{ color:#000; }
.rib-form label{width:70px;}
.rib-form p{
	margin-bottom:5px;
	position:relative;
}
.right	{text-align:right!important;}
.rib-form input{
	height:1.5em;
}

.rib-form{
	padding: 10px;
	font-size:8pt;
}

#wf-container{
	width:1140px;
	min-height:450px;
	margin:50px auto;
	padding-top:20px;
	position: relative;
}

#content-title{
	font-size:14pt;
	margin-bottom:10px;
}

#header{
	font-size:12pt;
	background-color:#ffffff;
	padding:5px 10px 5px 10px;
	color:#fff;
	height:120px;
	/*border: 1px solid #000;*/
	border-top:0px;
	/*border-color: #fff #4B709B #0D161C #4B709B;*/
}

#login-wrapper{
	font-size:10pt;
	float:right;
	position:relative;
	margin-top:30px;
	padding:0;
    /*background-color:rgba(68,100,150,0.8);
    background-color:#A8C837;*/

    border-radius: 5px;
}
#login-wrapper li{
    display:inline;
    float:left;
    padding:7px 12px 7px 12px;
    bottom:-3px;
    margin-left: 20px;

}

#login-wrapper a div{
	float:left;
	padding: 2px 8px 2px 8px;
	border-radius:3px;
	color: #fefefe;
}

#login-wrapper a:hover div{
	background-color:rgba(68,100,150,0.8);
	color:#dedede;
    border-radius:3px;
}

#logo{
	width:300px;
}
#nav-wrapper{
    background-color: #37597b;
    /*background-image: -moz-linear-gradient(center top , #333333, #222222);*/
    background-image: -moz-linear-gradient(center top , #5a7c9e, #37597b);
    background-repeat: repeat-x;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(90, 124, 158, 0.25), 0 -1px 0 rgba(55, 89, 123, 0.1) inset;
   
}
#nav-wrapper{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: -moz-linear-gradient(center top , rgba(90, 124, 158, 1) 0%, rgba(55, 89, 123, 1) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #666 #666 -moz-use-text-color;
    border-image: none;
    border-radius: 6px;
    border-style: solid solid none;
    border-width: 1px 1px 0;
	border-left:5px solid #000; 
    box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3) inset;
    min-height: 35px;
    padding: 0px;
}

#nav-content{
	width:100%;
	position:absolute;
	z-index:100;
	top:135px;
	left:50%;
	margin-left:-570px;
	height:400px;
	border-top:tranparent;

	
}

#main-nav{
	list-style: outside none none;
	z-index: 400;
	display: block;
    float: left;
    left: 0px;
	margin:0px;
    position: relative;
	margin-left:-40px;
    /*position:absolute;
	bottom:0;
	z-index:99;
*/
}
.home-menu{
	background-color:#000;

}

.icon-home {
    background: url("../images/navigation/home.png") no-repeat scroll center center transparent;
}
#main-nav li{
	display:inline;
	float:left;
	padding:7px 12px 5px 12px;
	bottom:-3px;
    /*margin-left: 40px;*/

}

#main-nav li.active{
	background-image:url(../images/cursor-nav.png);
    background-repeat:no-repeat;
    background-position:center bottom;
	background-color:rgba(34,62,110,0.5);
	color:#eeeeee;

}

#main-nav li a{
	text-decoration: none;
	color:#fefefe;

}

#inner-content-rib{
	/*float:left;*/
	width:800px;
	/*padding:5px;*/
    min-height: 310px;
    border : 1px solid #D4D4FF;
	
}


.nav-content-lv{
	float:left;
	height:auto;
	width:auto;
	/*border-top:2px solid #494949;*/
	background-color:#FBFBFB;
	position:absolute;
    margin-top: 20px;

}
#nav-content-lv_2.w320{
	left:320px;

}

.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #281911;
  -webkit-box-shadow: 3px 3px 5px 6px #281911;
  box-shadow:         3px 3px 5px 6px #281911;
}

.submenu-ul{
	list-style-type: none;
	margin: 0;
    padding: 0;
	color:#5159a2;
}
.submenu-ul li{
	padding:7px 42px 7px 20px;
	bottom:-3px;
}

.submenu-ul li:hover,.submenu.active{
	background-color:#E8EBF0;
}

.submenu-ul li:hover a,.submenu.active a{
	color:#000;
}

.submenu-ul li a{
	text-decoration: none;
	color:#5159a2;
}

#nav-content-desc{
	float:right;
	height:285px;
	padding:25px;
	font-size:16pt;
	/*border-top:2px solid #494949;*/
	border-bottom:2px solid #494949;
	position:absolute;
	bottom:0;
	right:0;
	
}

.inner-content-title{
	padding:5px;
	font-size:14pt;
	width: 100%;
	/*border-bottom: 2px solid #494949;*/
    border : 1px solid #D0D0D0;
    background-color: #D0D0D0;
	/*margin-bottom:10px;*/
	/*font-weight:bold;*/
    /*color: #ccc;*/
}
.inner-content-title span{
    margin-left: 10px;
}
.inner-content-title i{
    float: left;
    margin-top: 5px;
    color: #44A1D4;
}

.content-list{
	/*padding:15px;*/

}

.content-list-title{
	font-size:12pt;
	margin-bottom:5px;
}

.content-list-desc{
	margin-bottom:25px;
    margin-top:20px;
}
/*
.w320{
	width:380px !important;
}

.w640{
	width:760px !important;
}

.w960{
	width:1140px !important;
}
*/
.clear { 
	clear: both; 
}

.hide { 
	display: none; 
}

.bold { 
	font-weight: bold; 
}

.field { 
	margin-bottom: 1em;
}

.fl { 
	float: left; 
}

.fr { 
	float: right; 
}

.no-margin { 
	margin: 0; 
}
.account{
    height: 260px;
    border-bottom: 3px solid #D4D4FF;
    border-right: 3px solid #D4D4FF;
    border-left: 1px solid #D4D4FF;
    border-top: 1px solid #D4D4FF;
    background-color: #efefef;

}
.account p{
    margin-left: 10px;
    margin-right: 10px;
}
.account:hover{
    /*background-color: #598BA6;*/
    /*color: #ffffff;*/
}
.account:hover a.view{
    /*background-color: #598BA6;*/
    /*color: #ffffff;*/
}
.img-caption {
    position: absolute;
    /*right: 15%;*/
    bottom: 20px;
    left: 10%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    text-align: left;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.account a.view {
    color: #5283bd;
    font-size: 1.16667em;
    line-height: 1.3;
    text-transform: uppercase;
    font-weight: bold;
    margin-left:10px;
}
hr.royal {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    width: 100%;
    border-top: 3px solid #5283bd;

}
hr.news {
    margin-top: 5px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eeeeee;
}
hr.footer {
    margin-top: 5px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eeeeee;
    clear: both;
}

#news{
    float:right;
    width:300px;
    min-height:40%;
    background-color:#1E1E1E;
    border: 1px solid #D4D4FF;
}
#content_news{
    /*margin-left: 20px;*/
    /*margin-top: 20px;*/
}#date_news{
    /*margin-left: 20px;*/
    margin-top: 5px;
     color: #888888;
     font-family: Arial;
     font-size: 12px;
}
#content_news a.news {
    /*color: #5283bd;*/
    color: #fff;
    line-height: 1.3;
    font-size: 16px;
    font-family: "UniversLTW01-57Condense 723821","Segoe WP Semilight","Arial Narrow",Arial,Helvetica,sans-serif;
}

.footer{
    /*background-color: #888888;*/
    /*min-height: 50px;*/
    margin-top: 20px;
    color: #888888;
}
.footer a{
    /*background-color: #888888;*/
    /*min-height: 50px;*/
    color: #888888;
}

#wrap-content{
    float:left;
    width:800px;
    padding:5px;
    min-height: 410px;
    border : 1px solid #D4D4FF;

}

.content-kiri{
    width : 800px;
    /*border: 5px solid red;*/
    float: left;
}
.content-kanan{
    width: 300px;
    /*border: 1px solid #D4D4FF;*/
    float: right;
}

.accordion-group {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    margin-bottom: 2px;
}
.accordion-heading .accordion-toggle {
    display: block;
    padding: 8px 15px;
}
.accordion-heading a {
    color: #5283bd;
    text-decoration: none;
}
.accordion-inner {
    border-top: 1px solid #e5e5e5;
    padding: 9px 15px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
}
*::-moz-selection {
    background: none repeat scroll 0 0 #000;
    color: #fff;
}


.loginHolder {
    float: left;
    position: relative;
}
.pull-rights {
    /*background-color: #e5ebf1;*/
    border-radius: 6px;
    display: block;
    margin-top: 18px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    z-index: 999;
    float: right;
}


/*Button Style*/
.btn {
    box-shadow: none;
}

.btn-u {
    border:0;
    font-size:14px;
    cursor:pointer;
    padding:5px 13px;
    position:relative;
    background:#5283BD;
    display:inline-block;
    color:#fff !important;
    text-decoration:none !important;
}
.btn-u:hover {
    color:#fff;
    background:#5283BD;
    text-decoration:none;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}

.btn-u-small {
    padding:3px 12px;
}
.btn-u-large {
    font-size:18px;
    padding:10px 25px;
}
a.btn-u {
    padding:4px 13px;
    vertical-align:middle;
}
a.btn-u-small {
    padding:2px 12px;
}
a.btn-u-large {
    font-size:18px;
    padding:6px 25px;
}




.hr {
    text-align: center;
    position: relative;
    width: 100%;
    margin: 10px auto;
    background: -webkit-linear-gradient( transparent 49%, #5283bd 50%, transparent 55% );
    background: -moz-linear-gradient( transparent 49%, #5283bd 50%, transparent 55% );
    background: -ms-linear-gradient( transparent 49%, #5283bd 50%, transparent 55% );
    background: -o-linear-gradient( transparent 49%, #5283bd 50%, transparent 55% );
    background: linear-gradient( transparent 49%, #5283bd 50%, transparent 55% );
}

.hr:before, .hr:after {
    content: ""; display: block;
    height: 100%; width: 20px;
    position: absolute; top: 0;

}

.hr:before {
    left: 0;

}

.hr:after {
    right: 0;
}

.hr span {
    background: #FFFFFF fixed;
    display: inline-block;
    padding: 0 10px;
    font-size: 23px;
    /*font-family: "Arial Rounded MT";*/
    /*text-shadow: 2px 2px 3px #2F0B00;*/
    height: 2em;
    font-weight: bold;
    color:#5283BD ;
    text-transform: uppercase;
}

/*Accardion*/
.acc-home a.accordion-toggle {
    color:#686868;
    font-size:18px;
    background:none;
    padding:5px 15px;
    background:#fafafa;
    border-bottom:solid 1px #eee;
    text-decoration:none !important;
}
.acc-home a.active,
.acc-home a.accordion-toggle:hover {
    color:#5283BD;
    text-decoration:none !important;
}
.acc-home .accordion-group {
    border:none;
    margin:0 !important;
}
.acc-home .accordion-heading,
.acc-home .accordion-inner {
    border:none;
}
.acc-home .accordion-inner {
    border:none;
    padding-top:3px;
}
.acc-home .collapse.in {
    margin-top:-1px;
    margin-bottom:20px;
    background:#fdfdfd;
    border-bottom:solid 1px #5283BD;
}

.lft-img-margin { margin:5px 20px 5px 0;}
.img-width-200 { width:200px;}

.account-menu {
    margin-left:200px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;

}
.account-type {
    /*margin: 30px auto;*/

}
.account-type a {
    width: 200px;
    line-height: 250px;
    display: block;
    margin: 20px;
    text-align: center;
    float:left;
    opacity: 0.8;
    text-decoration:none;
    color: #ffffff;
    height: 200px;
    font-size: 20px;
    /*transform-style: preserve-3d;*/
    /*transition: all 1s ease-in-out;*/

}
.account-type .back{
    margin-top:-25px;
}
div.out {
    width: 40%;
    height: 120px;
    margin: 0 15px;
    background-color: #d6edfc;
    float: left;
}
div.in {
    width: 60%;
    height: 60%;
    background-color: #fc0;
    margin: 10px auto;
}
p {
    line-height: 1em;
    margin: 0;
    padding: 0;
}

.control-flat-radio{
	margin-left:0px !important;
}

.personal-info{margin-right:10px;float:left;margin-bottom:20px;}
.menu-desc
{
	margin-bottom:20px;
}
.text-red{
	color:#df3423;
}
.rib-input-wrapper{
	width:530px !important;
	margin-bottom:17px;
	height:35px;
}
.rib-input-normal{
	width:260px !important;
	margin-top:2px;
}
.rib-input-wide{
	width:530px !important;
	margin-top:2px;
}
.client-table{
	width:100%;
}
.client-table tr th
{
	min-width:100px;
	background-color:#dfdfdf;
	text-align:center;
	padding: 4px;
    vertical-align:middle;
}

.client-table tr td
{
	min-width:100px;
	text-align:center;
	padding:4px;
    vertical-align:middle;
}

.client-table tr.odd
{
	background-color:#fff;
}

.client-table tr.even
{
	background-color:#afd6ef;
}
#ui-datepicker-div{
	z-index:20 !important;
}
.left {text-align:left!important;}
.page-num{
    padding-bottom:7px;
	margin: 0 3px; padding: 2px 5px; border: 1px solid #AAAAAA; background-color: #DDDDDD; 
	cursor: pointer; 
	border-radius: 5px 5px 5px 5px;
}

.page-num.active{
	cursor: default; 
}
.sep-top{
	border-top: 1px solid #dfdfdf;
}
.rib-sub-title{
	font-size:12pt;
	margin-bottom:10px;
}
.confirm{
	background: none repeat scroll 0 0 #007eb6;
    border: medium none;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-family: verdana,arial,sans-serif;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
}
.upd {
	height:16px !important;
}
input.error,
select.error,
textarea.error		{color:red; border:1px solid red;}
label.validated		{background-image:url(../images/validated.gif)!important;}
label.error			{background-image:url(../images/cross.png)!important;}
/*label.mandatory		{background:url(../images/mandatory.gif) 130px center no-repeat;}*/

.input-append, .input-prepend {
    display: inline-block;
    font-size: 0;
    margin-bottom: 10px;
    vertical-align: middle;
    white-space: nowrap;
}
input.rib-date{
margin-bottom: 0;
position: relative;
vertical-align: top;
border-radius: 4px 0 0 4px;
padding: 4px 5px;
}
.input-append .add-on, .input-prepend .add-on {
    background-color: #eee;
    border: 1px solid #ccc;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    height: 20px;
    line-height: 20px;
    min-width: 16px;
    padding: 4px 5px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    width: auto;
}

.dropdown-menu {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    float: left;
    left: 0;
    list-style: outside none none;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 5px 0;
    position: absolute;
    top: 100%;
    z-index: 1000;
}
.dropdown-menu {
    list-style: outside none none;
}

table.table-condensed {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
}